.git
.cache
.env
.env.*
.idea
.vscode
build
coverage
dist
dist-ssr
node_modules
out
src-tauri/target
target
temp
tmp
*.db
*.db-*
*.log
*.local
*.partial
*.sqlite
*.sqlite-*
*.sqlite3
*.sqlite3-*
*.tmp
